<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>CSS3 Search Field</title>
</head>
<body class="bg">
  <section>
      <div class="center">

        <h1 style="text-align: center; font-family:Verdana, Geneva, Tahoma, sans-serif;">Rentrer un produit</h1>
        <div id="main">
        <form action="result" method="post">
            <input type="text" id="search" name="search" required="True">
            <input type="submit" class="solid" value="Search">
        </form>
        </div><!--main-->

      </div>

  </section><!--wrapper-->
</body>
</html>